.programs {
    margin-top: 190rem;
}

.container {
    @include container;
}

.header {
    display: flex;

    &>div {
        width: 42.2%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &>ul {
        flex: 1;
    }
}

.infoContainer {
    padding-right: 58rem;
    padding-bottom: 7rem;

    .programsList {
        margin-top: 18rem;
        position: relative;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .programItem {
            grid-area: 1 / 1 / 2 / 2;
            @include flex(space-between, flex-start, column);

            &:not(:first-child) {
                opacity: 0;
            }

            h3 {
                font-weight: 700;
                font-size: 20rem;
                line-height: 24rem;
                text-transform: uppercase;
                color: var(--red);
                border-bottom: 2rem solid var(--dark-grey);
                margin-left: 14rem;
                padding-bottom: 2rem;
                display: inline-block;
            }

            .description {
                font-weight: 400;
                font-size: 16rem;
                line-height: 19rem;
                text-align: justify;
                text-indent: 16rem;
                color: var(--dark-grey);
                margin: 20rem auto 36rem;
            }
        }
    }

    .stats {
        @include flex(space-between);
        padding-left: 20rem;
        width: 100%;

        li {
            width: 200rem;
            display: flex;
        }

        img {
            width: 48.8rem;
            height: 51rem;
        }

        .statValue {
            padding-left: 8.5rem;
            border-left: 1rem solid var(--red);
            margin-left: 5rem;

            p:first-child {
                font-style: italic;
                font-weight: 400;
                font-size: 14rem;
                line-height: 17rem;
                color: var(--dark-grey);
            }

            p:last-child {
                font-style: italic;
                font-size: 43.4428rem;
                line-height: 39rem;
                letter-spacing: 0.01em;
                color: var(--blue);
                margin-bottom: -5rem;
            }
        }
    }
}

.cardsContainer {
    flex: 1;
    @include flex(space-between, stretch, row, 24rem);
    padding: 12rem 4rem 0 0;
    overflow: hidden;

    .cardItem {
        height: 100%;
        overflow: hidden;
        box-shadow: var(--shadow-text);
        border-radius: var(--radius-3);
        position: relative;
        transition: width var(--tr-time) linear;

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            background: linear-gradient(172deg, rgba(0, 0, 0, 0) -6.08%, rgba(0, 0, 0, 0.51) 41.39%);
            border-radius: 5rem;
        }
    }

    .titleText {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        font-weight: 700;
        font-size: 18rem;
        text-transform: uppercase;
        color: var(--white);
        white-space: nowrap;
        position: relative;
        transform-origin: 20rem bottom;
        transition: transform var(--tr-time) linear;
        will-change: transform;
        text-align: start;

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }

    .activeCard {
        .titleText {
            transform: rotate(0deg);
            white-space: wrap;

        }
    }

    .inactiveCard {
        .titleText {
            height: 44rem;
            transform: translate(32rem, -20rem) rotate(-90deg);
        }
    }

    .tabButton {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 10rem 16rem 16rem 10rem;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
    }
}

.programsListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;

    .gridWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .coursesGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24rem;
        list-style: none;
        margin: 0;
        width: 100%;

        li {
            margin-block: 20rem;
        }

        .active {
            .courseCard {
                color: var(--white);
                background-position: 0 100%;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 2rem 10rem rgba(0, 0, 0, 0.16);
                animation: courseCardActive 400ms linear;
                overflow: visible;

                .courseInfo .iconContainer {
                    background-color: var(--white);
                    color: var(--red);
                }

                .iconContainer+p {
                    color: inherit;
                }

                .plusIcon {
                    // animation: programCardActiveLink 400ms linear;
                    transform: translate(-50%, 50%);
                    transition: none;
                    opacity: 1;
                }

            }
        }

    }

    .courseCard {
        display: block;
        padding: 24rem 24rem 44rem;
        background: linear-gradient(214.8deg, rgba(252, 253, 255, 0.56), rgba(252, 253, 255, 0.56) 25%, #ca0008 75%, #820400 103%) 100% 0 / 400% 400%;
        box-shadow: var(--shadow-1);
        backdrop-filter: var(--blur-block-secondary);
        border-radius: var(--radius-3);
        position: relative;
        overflow: hidden;
        color: var(--blue);

        transition: all var(--tr-time) linear;

        h3 {
            font-weight: 700;
            font-size: 18rem;
            line-height: 27rem;
            margin-bottom: 24rem;
            height: 54rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .courseInfo {
            @include flex(flex-start, flex-start, column, 9.5rem);

            li {
                @include flex(flex-start, center, row, 10rem);
                margin: 0;
            }

            .iconContainer {
                padding: 6rem;
                background-color: var(--blue);
                border-radius: 50%;
                color: var(--white);
                transition: all var(--tr-time) linear;
                display: flex;

                svg {
                    width: 14rem;
                    height: 14rem;
                }
            }

            p {
                font-weight: 400;
                font-size: 14rem;
                line-height: 19rem;
                color: var(--dark-grey);
            }
        }

        .plusIcon {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 110%) rotate(45deg);
            width: 40rem;
            height: 40rem;
            border: 2rem solid #fff;
            border-radius: 50%;
            box-shadow: 0 1.48148rem 2.96296rem rgba(0, 0, 0, 0.5);
            background: linear-gradient(#fff, #fff 100%) 50% -150% / 12rem 2rem, linear-gradient(#fff, #fff 100%) 50% -150% / 2rem 12rem, linear-gradient(var(--blue), var(--blue) 100%) center center / 12rem 2rem, linear-gradient(var(--blue), var(--blue) 100%) center center / 2rem 12rem, radial-gradient(#fff, #fff 16.7rem, transparent 17.2rem, transparent 100%) 50% 50% / 400% 400%, linear-gradient(-66deg, var(--blue) 34.85%, #0038a6 101.5%);
            background-repeat: no-repeat;

            &.active {
                animation: programCardActiveLink 400ms linear forwards;
            }

            &.leaving {
                animation: programCardActiveLinkRemove 400ms linear forwards;
            }
        }
    }

    .actionButton {
        margin-top: 20rem;
    }
}

@keyframes courseCardActive {
    0% {
        overflow: hidden;
    }

    50% {
        overflow: visible;
    }
}

@keyframes programCardActiveLinkRemove {
    0% {
        transform: translate(-50%, 50%) rotate(0);
    }

    10% {
        transform: translate(-50%, 50%) rotate(45deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 110%) rotate(45deg);
    }
}

@keyframes programCardActiveLink {
    0% {
        transform: translate(-50%, 110%) rotate(45deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    90% {
        transform: translate(-50%, 50%) rotate(45deg);
    }

    100% {
        transform: translate(-50%, 50%) rotate(0);
    }
}