$max-width: 1224rem;
$max-width-mobile: 320rem;

@mixin container {
    width: 100%;
    max-width: $max-width;
    margin-inline: auto;

    @media (max-width: 991px) {
        max-width: $max-width-mobile;
    }
}

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

@mixin lg-text($lg) {
    background: $lg;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-text-fill-color: transparent;
}