.apply {
    margin-top: 196rem;

    & * {
        transition-duration: 600ms;
        transition-timing-function: linear;
    }
}

.container {
    @include container;
}

.applyNavigation {

    ul {
        margin: 40rem auto 58rem;
        @include flex();

        li {
            padding: 0 57rem;
            border-left: 0.5rem solid var(--red);
            border-right: 0.5rem solid var(--red);
            position: relative;
            cursor: pointer;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }

            span {
                font-weight: 500;
                font-size: 16rem;
                line-height: 20rem;
                text-align: center;
                color: var(--blue);

                @include trans(color);
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                margin: 5rem auto 0;
                height: 1rem;
                background: var(--lg-blue);
                width: 0;
                // transition: width var(--tr-time) linear;
                @include trans(width);
            }

            &.active {
                span {
                    color: var(--red);
                }

                &::after {
                    width: 137rem;
                }
            }
        }
    }
}

.applySlider {
    padding: 60rem 20rem 32rem;
    margin: -60rem -23rem -32rem;
    overflow: hidden;
    display: flex;

    .infoList {
        flex-grow: 1;
        padding-left: 18rem;
        margin-right: -18rem;


        &>li+li {
            margin-top: -307rem;
        }
    }

    .stepsList {
        --time-base: 200ms;
        --time-step: 400ms;
        @include flex(center, stretch);

        li {
            height: 307rem;
            flex: 0 1 25%;
            position: relative;
            padding: 0 20rem;
            opacity: 0;
            pointer-events: none;
            transform: translateX(-20rem);

            transition: all var(--time-base) linear;

            &:last-child .stepBg::before {
                content: none;
            }
        }
    }

    .topContainer {
        .number {
            position: relative;
            top: 24rem;
            right: 15rem;
            z-index: 30;

            p {
                font-size: 41.5rem;
                line-height: 43rem;
                display: flex;
                align-items: center;
                text-align: center;
                @include lg-text(var(--lg-blue));
            }

            p+p {
                font-size: 23.23rem;
                line-height: 24rem;
                margin-top: -8rem;
            }
        }

        .stepBg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: -14rem;
            top: 13rem;
            transform-origin: 0 100%;
            transform: skewX(0);
            overflow: hidden;
            transition: all var(--time-base) linear;

            &::before {
                content: "";
                display: block;
                transform: skewX(0);
                position: absolute;
                top: 8rem;
                left: -146rem;
                width: 146rem;
                height: 140rem;
                background: url('../../../assets/images/apply/arrow.svg') 0 0 / 143rem 114rem no-repeat;
            }

            .circle {
                width: 138rem;
                height: 138rem;
                transform: skewX(0);
                position: absolute;
                top: -2rem;
                left: -138rem;
                border-radius: 50%;
                background: var(--lg-red);
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: -34rem;
                width: 20%;
                height: 100%;
                border-radius: 50%;
                background: linear-gradient(192.61deg, rgba(255, 255, 255, 0) 0%, rgba(95, 95, 95, 0.138) 29.79%, rgba(72, 72, 72, 0.3) 46.03%, rgba(85, 84, 84, 0.138) 65.83%, rgba(255, 255, 255, 0) 92.25%);
                filter: blur(9rem);
            }
        }

        .icon {
            position: absolute;
            top: 80rem;
            left: 70rem;

            svg {
                width: 42.6rem;
                height: auto;
            }
        }
    }

    .bottomContainer {
        margin-top: 108rem;
        margin-inline-start: 4rem;

        h3 {
            font-weight: 700;
            font-size: 16rem;
            line-height: 19rem;
            color: var(--blue);
            text-transform: uppercase;
            padding-left: 16rem;
        }

        p {
            font-family: "Times";
            font-style: normal;
            font-weight: 400;
            font-size: 14rem;
            line-height: 16rem;
            text-align: justify;
            text-indent: 16rem;
            margin-top: 9rem;
            color: var(--dark-grey);
        }
    }
}

.infoList>li {
    .stepsList li:nth-child(1) {
        transition-delay: calc(var(--time-base) + 3*var(--time-step));

        .stepBg,
        .stepBg::before,
        .stepBg .circle {
            transition-delay: calc(3 * var(--time-step));
        }
    }

    .stepsList li:nth-child(2) {
        transition-delay: calc(var(--time-base) + 2 * var(--time-step));


        .stepBg,
        .stepBg::before,
        .stepBg .circle {
            transition-delay: calc(2 * var(--time-step));
        }
    }

    .stepsList li:nth-child(3) {
        transition-delay: calc(var(--time-base) + 1 * var(--time-step));


        .stepBg,
        .stepBg::before,
        .stepBg .circle {
            transition-delay: calc(1 * var(--time-step));
        }
    }

    .stepsList li:nth-child(4) {
        transition-delay: calc(var(--time-base) + 0 * var(--time-step));


        .stepBg,
        .stepBg::before,
        .stepBg .circle {
            transition-delay: calc(1 * var(--time-step));
        }
    }
}

.infoList li.active {
    .stepsList li {
        opacity: 1;
        pointer-events: all;
        transform: none;

        &:nth-child(1) {
            transition-delay: calc(4 * var(--time-step));

            .stepBg,
            .stepBg::before,
            .stepBg .circle {
                transition-delay: calc(var(--time-base) + 4 * var(--time-step));

            }
        }

        &:nth-child(2) {
            transition-delay: calc(5 * var(--time-step));

            .stepBg,
            .stepBg::before,
            .stepBg .circle {
                transition-delay: calc(var(--time-base) + 5 * var(--time-step));

            }
        }

        &:nth-child(3) {
            transition-delay: calc(6 * var(--time-step));


            .stepBg,
            .stepBg::before,
            .stepBg .circle {
                transition-delay: calc(var(--time-base) + 6 * var(--time-step));
            }
        }

        &:nth-child(4) {
            transition-delay: calc(7 * var(--time-step));


            .stepBg,
            .stepBg::before,
            .stepBg .circle {
                transition-delay: calc(var(--time-base) + 7 * var(--time-step));
            }
        }
    }

    .stepBg {
        transform: skewX(-18deg);

        &::before {
            transform: translateX(159rem) skewX(18deg);
        }

        .circle {
            transform: translateX(70rem) skewX(18deg);
        }
    }
}


//Images

.imagesList {
    width: 353rem;
    flex-shrink: 0;

    &>li {
        height: 328rem;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            height: 74rem;
            width: 370rem;
            bottom: -15rem;
            transform: translate(-50%, 0);
            opacity: 0;
            background: radial-gradient(50% 50% at 50% 50%, rgba(6, 6, 6, 0.12) 43.23%, rgba(208, 208, 208, 0.09) 76.56%, rgba(255, 255, 255, 0) 100%);
            @include trans(opacity);
        }

        &.active {
            z-index: 30;

            &::after {
                opacity: 1;
            }
        }
    }

    &>li+li {
        margin-top: -328rem;
    }

    .mainImage {
        position: relative;
        z-index: 20;
        opacity: 0;
        transition-delay: 700ms;
        transition-duration: 600ms;
        transition-property: opacity;

        img {
            width: 353rem;
            height: auto;
            position: relative;
            z-index: 20;
        }
    }

    &>li>*:not(.mainImage) {
        position: absolute;
    }

    .part1 {
        bottom: 0;
        right: 50%;
        transform: translateY(160%);
        padding: 9rem 10rem 12rem;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 3.00289rem 12.0116rem rgba(0, 0, 0, 0.16);
        -webkit-backdrop-filter: blur(7.50722rem);
        backdrop-filter: blur(7.50722rem);
        border-radius: 4.50433rem;
        z-index: 10;
        width: 105rem;
        text-align: center;
        transition-delay: 700ms;
        transition-duration: 400ms;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: block;
            margin-bottom: -7rem;
            width: 46.3rem;
            height: 47.3rem;
        }

        div {
            font-weight: 600;
            font-size: 9.18884rem;
            line-height: 11rem;
            text-align: center;
            text-transform: uppercase;
            color: var(--dark-grey);
        }
    }

    &>li:nth-child(1) {
        .part2 {
            transform: translate(0, -120%);
            top: -80rem;
            right: 50%;
            border-radius: 50%;
            padding: 9.8rem;
            background: linear-gradient(180deg, #f6a900 0%, #cc5300 100%);
            box-shadow: 0 1.8164rem 9.68746rem rgba(0, 0, 0, 0.24);
            z-index: 30;
            transition-delay: 700ms;
            display: flex;

            img {
                width: 25.6rem;
                height: 25.6rem;
            }
        }

        .part3 {
            bottom: 0;
            left: 20%;
            transform: translateY(200%);
            border-radius: 50%;
            padding: 8rem;
            background: linear-gradient(169.09deg, #00d1ff 4.74%, #0377bd 100.97%);
            box-shadow: 0 1.53147rem 8.16786rem rgba(0, 0, 0, 0.24);
            z-index: 30;
            transition-delay: 700ms;
            display: flex;

            img {
                width: 23rem;
                height: 23rem;
            }
        }

        .part4 {
            left: 0;
            transform: translateX(-200%);
            top: 134rem;
            padding: 4.5rem;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 3.00289rem 12.0116rem rgba(0, 0, 0, 0.16);
            -webkit-backdrop-filter: blur(7.50722rem);
            backdrop-filter: blur(7.50722rem);
            border-radius: 4.50433rem;
            z-index: 30;
            transition-delay: 700ms;
            display: flex;

            img {
                width: 30rem;
                height: auto;
            }
        }

        .part5 {
            top: -20rem;
            left: -20rem;
            transform: translate(-100%, -100%);
            z-index: 30;
            transition-delay: 700ms;

            li {
                position: relative;
                top: auto;
                filter: drop-shadow(-15.0012rem 8.10065rem 2.78004rem rgba(0, 0, 0, 0.07));
                transition-delay: 700ms;
                display: flex;

                img {
                    width: 27rem;
                    height: 41rem;
                }
            }

            li+li {
                top: -4rem;
                left: -75rem;

                img {
                    width: 18.7rem;
                    height: 28.4rem;
                }
            }

            li+li+li {
                top: -26rem;
                left: -26rem;

                img {
                    width: 15rem;
                    height: 22.8rem;
                }
            }
        }

        .part6 {
            top: -60rem;
            right: 76rem;
            transform: translateY(-60%);
            transition-delay: 700ms;

            li {
                position: relative;
                filter: drop-shadow(-17.6062rem 9.50736rem 3.26281rem rgba(0, 0, 0, 0.07));
                transition-delay: 700ms;
                display: flex;

                img {
                    width: 25rem;
                    height: 49rem;
                }
            }

            li+li {
                top: -103rem;
                right: -72rem;

                img {
                    width: 13rem;
                    height: 25.5rem;
                }
            }

            li+li+li {
                top: -92rem;
                right: -70rem;

                img {
                    width: 15rem;
                    height: 29.4rem;
                }
            }

            li+li+li+li {
                top: -154rem;
                right: -114rem;

                img {
                    width: 9rem;
                    height: 17.625rem;
                }
            }
        }

        .part7,
        .part8 {
            width: 5.4rem;
            height: 5.4rem;
            background: linear-gradient(169.09deg, #00d1ff 4.74%, #0377bd 100.97%);
            border-radius: 50%;
            top: 0;
            left: -20rem;
            transform: translate(-120%, -120%);
            z-index: 30;
            transition-delay: 700ms;
        }

        .part8 {
            top: 100%;
            left: auto;
            right: 0;
            transform: translate(-10rem, 30rem);
        }

        .part9 {
            top: -10rem;
            left: -20rem;
            transform: translateX(-120%);
            width: 3.2rem;
            height: 3.2rem;
            background: linear-gradient(180deg, #f6a900 0%, #cc5300 100%);
            transition-delay: 700ms;
        }

        &.active {
            .part1 {
                opacity: 1;
                transform: translate(128rem, -103rem);
                transition-delay: 1500ms;
            }

            .part2 {
                transform: translate(35.5rem, 70rem);
                transition-delay: 1300ms;
            }

            .part3 {
                transform: translate(80rem, -14rem);
                transition-delay: 1300ms;
            }

            .part4 {
                transform: translate(27rem, -3rem);
                transition-delay: 1300ms;
            }

            .part5 {
                transform: translate(74rem, 61rem);
                transition-delay: 1300ms;

                li+li {
                    transform: translate(38rem, -12rem);
                    transition-delay: 1300ms;
                }

                li+li+li {
                    transform: translate(30rem, 11rem);
                    transition-delay: 1300ms;
                }
            }

            .part6 {
                transform: translate(-42rem, 80rem);
                transition-delay: 1300ms;

                li+li {
                    transform: translate(-23rem, 58rem);
                    transition-delay: 1300ms;
                }

                li+li+li {
                    transform: translate(-37rem, 68rem);
                    transition-delay: 1300ms;
                }

                li+li+li+li {
                    transform: translate(-49rem, 94rem);
                    transition-delay: 1300ms;
                }
            }

            .part7 {
                transform: translate(64rem, 29rem);
                transition-delay: 1300ms;
            }

            .part8 {
                transform: translate(-116rem, -198rem);
                transition-delay: 1300ms;
            }

            .part9 {
                transform: translate(103rem, 16rem);
                transition-delay: 1300ms;
            }
        }
    }

    &>li:nth-child(2) {

        .mainImage {
            img {
                width: 296rem;
                margin: -51rem 0 0 44rem;
            }
        }

        .part1 {
            width: 86rem;
            box-shadow: 0 2.76637rem 11.0655rem rgba(0, 0, 0, 0.16);
            padding: 18rem 8rem 6rem 34rem;
            text-align: center;
            bottom: 160rem;
            right: 112rem;

            img {
                width: 21rem;
                height: 16rem;
                margin-bottom: 5rem;
            }

            li+li {
                position: absolute;
                opacity: 0.55;
                top: 10rem;
                right: 32rem;

                img {
                    width: 14rem;
                    height: 12rem;
                }
            }

            li+li+li {
                opacity: 0.33;
                top: 12rem;
                right: 17rem;

                img {
                    width: 9rem;
                    height: 8rem;
                }
            }

            li+li+li+li {
                opacity: 0.11;
                top: 9rem;
                right: 26rem;

                img {
                    width: 6rem;
                    height: 6rem;
                }
            }

            div {
                font-size: 8.46508rem;
                line-height: 10rem;
                text-transform: none;
            }
        }

        .part2 {
            transform: translate(0, -120%);
            top: -80rem;
            right: 50%;
            border-radius: 50%;
            z-index: 30;
            transition-delay: 700ms;
            padding: 9rem;
            background: linear-gradient(172.34deg, #00dc09 8.45%, #007e05 90.56%);
            box-shadow: 0 1.80139rem 9.60741rem rgba(0, 0, 0, 0.24);
            display: flex;

            img {
                width: 26rem;
            }
        }

        .part3 {
            bottom: 0;
            left: 20%;
            transform: translateY(200%);
            border-radius: 50%;
            padding: 10rem;
            background: linear-gradient(180deg, #f6a900 0%, #cc5300 100%);
            box-shadow: 0 1.80139rem 9.60741rem rgba(0, 0, 0, 0.24);
            z-index: 30;
            transition-delay: 700ms;
            display: flex;

            img {
                width: 23rem;
                height: 23rem;
            }

            img+img {
                position: absolute;
                bottom: 0rem;
                right: -1rem;
                width: 9rem;
                height: 11rem;
            }
        }

        .part4 {
            left: 0;
            transform: translateX(-200%);
            top: 134rem;
            padding: 5rem;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 3.00289rem 12.0116rem rgba(0, 0, 0, 0.16);
            -webkit-backdrop-filter: blur(7.50722rem);
            backdrop-filter: blur(7.50722rem);
            border-radius: 4.50433rem;
            z-index: 30;
            transition-delay: 700ms;
            display: flex;

            img {
                width: 24rem;
            }
        }

        .part5 {
            top: -20rem;
            left: -20rem;
            transform: translate(-100%, -100%);
            z-index: 30;
            transition-delay: 700ms;

            li {
                position: relative;
                top: auto;
                filter: drop-shadow(10.1336rem 3.68494rem 2.76371rem rgba(0, 0, 0, 0.04));
                transition-delay: 700ms;
                display: flex;

                img {
                    width: 22rem;
                    height: 30rem;
                }
            }

            li+li {
                top: -4rem;
                left: -75rem;
                transition-delay: 1300ms;

                img {
                    width: 18.7rem;
                    height: 28.4rem;
                }
            }

            li+li+li {
                top: -26rem;
                left: -26rem;
                transition-delay: 1300ms;

                img {
                    width: 15rem;
                    height: 22.8rem;
                }
            }

            li+li+li+li {
                top: -26rem;
                left: -26rem;

                img {
                    width: 29rem;
                    height: 42rem;
                }
            }
        }

        .part6 {
            top: -20rem;
            left: -20rem;
            transform: translate(-100%, -100%);
            z-index: 30;
            transition-delay: 700ms;

            li {
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                background: linear-gradient(169.09deg, #00d1ff 4.74%, #0377bd 100.97%);
                transition-delay: 700ms;
                position: relative;
                top: auto;
                filter: drop-shadow(10.1336rem 3.68494rem 2.76371rem rgba(0, 0, 0, 0.04));
            }

            li:nth-child(2) {
                top: -4rem;
                left: -75rem;

            }

            li:nth-child(3) {
                top: -26rem;
                left: -26rem;
            }

            li:nth-child(4) {
                top: -26rem;
                left: -26rem;
            }

            li:nth-child(5) {
                top: -26rem;
                left: -26rem;
                width: 7.4rem;
                height: 7.4rem;
            }

            li:nth-child(6) {
                top: -26rem;
                left: -26rem;
                width: 7.4rem;
                height: 7.4rem;
            }

            li:nth-child(7) {
                top: -26rem;
                left: -26rem;
                width: 7.4rem;
                height: 7.4rem;
            }
        }

        .part7 {
            top: -60rem;
            right: 76rem;
            transform: translateY(-60%);
            transition-delay: 700ms;

            li {
                position: relative;
                filter: drop-shadow(10.1336rem 3.68494rem 2.76371rem rgba(0, 0, 0, 0.04));
                transition-delay: 700ms;
                display: flex;

                img {
                    width: 11rem;
                    height: 15rem;
                }
            }

            li+li {
                left: 21rem;
                top: -6rem;

                img {
                    width: 13rem;
                    height: 15rem;
                }
            }


            li+li+li {
                top: -54rem;
                left: 28rem;
            }

            li+li+li+li {
                top: -26rem;
                left: 64rem;

                img {
                    width: 14rem;
                    height: 18rem;
                }
            }

        }


        &.active {
            .part1 {
                opacity: 1;
                transform: translate(73rem, -2rem);
                transition-delay: 1500ms;
            }

            .part2 {
                transform: translate(60.5rem, 61rem);
                transition-delay: 1300ms;
            }

            .part3 {
                transform: translate(40rem, -53rem);
                transition-delay: 1300ms;
            }

            .part4 {
                transform: translate(90rem, 44rem);
                transition-delay: 1300ms;
            }

            .part5 {
                transform: translate(77rem, 50rem);
                transition-delay: 1300ms;

                li {
                    transition-delay: 1300ms;
                }

                li+li {
                    transform: translate(70rem, 9rem);
                }

                li+li+li {
                    transform: translate(54rem, -6rem);
                }

                li+li+li+li {
                    transform: translate(44rem, 1rem);
                }
            }

            .part6 {
                transform: translate(109rem, 62rem);
                transition-delay: 1300ms;

                li:nth-child(2) {
                    transform: translate(43rem, 11rem);
                }

                li:nth-child(3) {
                    transform: translate(49rem, 95rem);
                }

                li:nth-child(4) {
                    transform: translate(0, 88rem);
                }

                li:nth-child(5) {
                    transform: translate(15rem, 42rem);
                }

                li:nth-child(6) {
                    transform: translate(44rem, 56rem);
                }

                li:nth-child(7) {
                    transform: translate(4rem, 76rem);
                }
            }

            .part7 {
                transform: translate(-20rem, 86rem);
                transition-delay: 1300ms;

                li {
                    transition-delay: 1300ms;
                }

                li+li {
                    transform: translate(-29rem, 11rem);
                }

                li+li+li {
                    transform: translate(-15rem, 33rem);
                }

                li+li+li+li {
                    transform: translate(-58rem, 13rem);
                }
            }
        }

    }

    &>li:nth-child(3) {
        .mainImage {
            img {
                width: 315rem;
                margin: -50rem 0 0 19rem;
            }
        }

        .part1 {
            background: rgba(255, 255, 255, 0.9);
            z-index: 10;
            text-align: center;
            transition-duration: 600ms;
            padding: 10rem 27rem 8rem 14rem;
            box-shadow: 0 2.76637rem 11.0655rem rgba(0, 0, 0, 0.16);
            -webkit-backdrop-filter: blur(6.91592rem);
            backdrop-filter: blur(6.91592rem);
            border-radius: 4.14955rem;
            width: 85rem;
            bottom: calc(50% - 40rem);
            right: 124rem;
            transition-delay: 900ms;

            img {
                width: 20rem;
                height: auto;
                margin: 0;
            }

            div {
                font-size: 8.46508rem;
                line-height: 10rem;
                text-transform: none;
            }

        }

        .part2 {
            padding: 3rem;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 2.0604rem 8.24159rem rgba(0, 0, 0, 0.16);
            backdrop-filter: blur(5.15099rem);
            border-radius: 3.0906rem;
            z-index: 30;
            top: 134rem;
            left: 0;
            display: flex;
            transform: translateX(-200%);
            transition-delay: 900ms;

            img {
                width: 20.6rem;
            }
        }

        .part3,
        .part4 {
            top: -20rem;
            left: -20rem;
            transform: translate(-100%, -100%);
            z-index: 30;
            transition-delay: 700ms;

            li {
                filter: none;
                position: relative;
                top: auto;
                transition-delay: 700ms;
                display: flex;

                img {
                    width: 20rem;
                    height: 30rem;
                }
            }

            li:nth-child(2) {
                transform: translate(38rem, -12rem);
                transition-delay: 1300ms;
                top: -4rem;
                left: -75rem;

                img {
                    width: 18rem;
                    height: 26.8rem;
                }
            }

            li:nth-child(3) {
                top: -26rem;
                left: -26rem;
                transform: translate(30rem, 11rem);
                transition-delay: 1300ms;

                img {
                    width: 11.6rem;
                    height: 17.4rem;
                }
            }

            li:nth-child(4) {
                transform: translate(30rem, 11rem);
                transition-delay: 1300ms;
                top: -26rem;
                left: -26rem;

                img {
                    width: 7.4rem;
                    height: 11rem;
                }
            }

            li:nth-child(5) {
                transform: translate(30rem, 11rem);
                transition-delay: 1300ms;
                top: -26rem;
                left: -26rem;

                img {
                    width: 7.4rem;
                    height: 11rem;
                }
            }
        }

        .part4 {
            top: -20rem;
            left: -20rem;
            transform: translate(-100%, -100%);
            z-index: 30;
            transition-delay: 700ms;

            li:nth-child(2) {
                img {
                    width: 13rem;
                    height: 19rem;
                }
            }

            li:nth-child(3) {
                img {
                    width: 9rem;
                    height: 13rem;
                }
            }

            li:nth-child(4) {
                img {
                    width: 7.4rem;
                    height: 11rem;
                }
            }

            li:nth-child(5) {
                img {
                    width: 7rem;
                    height: 9rem;
                }
            }
        }

        .part5 {
            top: -149rem;
            right: 35rem;
            transition-delay: 700ms;

            li {
                padding: 8rem 7.7rem;
                background: linear-gradient(169.09deg, #00d1ff 4.74%, #0377bd 100.97%);
                border-radius: 50%;
                position: relative;
                display: flex;
                transition-delay: 1300ms;

                img {
                    width: 23rem;
                    height: 23rem;
                }
            }

            li+li {
                top: -20rem;
                left: 62rem;
                width: 14.8rem;
                height: 14.8rem;
                padding: 0;
            }

            li+li+li {
                top: -10rem;
                left: 53rem;
                background: linear-gradient(237.78deg, #d20008 8.86%, #9c0400 86.98%);
                width: 10.2rem;
                height: 10.2rem;
            }

            li+li+li+li {
                width: 6.1rem;
                height: 6.1rem;
            }
        }


        &.active {
            .part1 {
                opacity: 1;
                transform: translate(-100rem, -5rem);
            }

            .part2 {
                transform: translate(243rem, -10rem);
                transition-delay: 1300ms;
            }

            .part3,
            .part4 {
                transform: translate(81rem, 82rem);
                transition-delay: 1300ms;

                li:nth-child(2) {
                    transform: translate(113rem, -1rem);
                }

                li:nth-child(3) {
                    transform: translate(48rem, 24rem);
                }

                li:nth-child(4) {
                    transform: translate(56rem, -64rem);
                }

                li:nth-child(5) {
                    transform: translate(90rem, -78rem);
                }
            }

            .part4 {
                transform: translate(116rem, 43rem);
                transition-delay: 1300ms;

                li:nth-child(2) {
                    transform: translate(96rem, 20rem);
                }

                li:nth-child(3) {
                    transform: translate(17rem, 18rem);
                }

                li:nth-child(4) {
                    transform: translate(5rem, -17rem);
                }

                li:nth-child(5) {
                    transform: translate(15rem, 28rem);
                }
            }

            .part5 {
                transform: translate(-66rem, 128rem);
                transition-delay: 1300ms;


                li+li {
                    transform: translate(-31rem, 47rem);
                    transition-delay: 1300ms;
                }

                li+li+li {
                    transform: translate(-34rem, 5rem);
                }

                li+li+li+li {
                    transform: translate(-35rem, 31rem);
                }
            }
        }
    }

    &>li:nth-child(4) {
        .mainImage {
            img {
                width: 280rem;
                margin: -13rem 44rem 0 29rem;
            }
        }

        .part1 {
            box-shadow: 0 4.64036rem 18.5614rem rgba(0, 0, 0, 0.16);
            -webkit-backdrop-filter: blur(11.6009rem);
            backdrop-filter: blur(11.6009rem);
            border-radius: 6.96054rem;
            width: 94rem;
            text-align: center;
            padding: 10rem 0 6rem 15rem;
            bottom: calc(50% - 60rem);
            right: 162rem;

            img {
                width: 29rem;
                height: 31rem;
                margin-right: 5rem;
                filter: drop-shadow(-4rem 0 0 rgba(255, 120, 0, 0.121)) drop-shadow(-12rem 0 0 rgba(255, 120, 0, 0.0726)) drop-shadow(-20rem 0 0 rgba(255, 120, 0, 0.0242));
            }

            div {
                font-size: 11.1107rem;
                line-height: 13rem;
                margin-top: 13rem;
            }
        }

        .part2 {
            bottom: 0;
            left: 20%;
            transform: translateY(200%);
            border-radius: 50%;
            z-index: 30;
            background: linear-gradient(160.82deg, #ffd600 6.17%, #f97700 106.85%);
            box-shadow: 0 2.36658rem 12.6218rem rgba(0, 0, 0, 0.24);
            padding: 12.3rem;
            display: flex;

            img {
                width: 32rem;
                height: 32rem;
            }
        }

        .part3 {
            z-index: 30;
            background: rgba(255, 255, 255, 0.9);
            left: 0;
            transform: translateX(-200%);
            top: 134rem;
            padding: 5rem;
            box-shadow: 0 4.64036rem 18.5614rem rgba(0, 0, 0, 0.16);
            backdrop-filter: blur(11.6009rem);
            border-radius: 6.96054rem;
            display: flex;

            img {
                width: 31rem;
            }
        }

        .part4,
        .part5 {
            top: -20rem;
            left: -20rem;
            transform: translate(-100%, -100%);
            z-index: 30;
            transition-delay: 700ms;

            li {
                transition-delay: 700ms;
                display: flex;
                position: relative;

                img {
                    width: 20rem;
                    height: 30rem;
                }
            }

            li:nth-child(2) {
                top: -4rem;
                left: -75rem;

                img {
                    width: 18rem;
                    height: 26.8rem;
                }
            }

            li:nth-child(3) {
                top: -26rem;
                left: -26rem;

                img {
                    width: 11.6rem;
                    height: 17.4rem;
                }
            }

            li:nth-child(4) {
                top: -26rem;
                left: -26rem;

                img {
                    width: 7.4rem;
                    height: 11rem;
                }
            }

            li:nth-child(5) {
                top: -26rem;
                left: -26rem;

                img {
                    width: 7.4rem;
                    height: 11rem;
                }
            }
        }

        .part5 {
            li {
                img {
                    width: 28rem;
                    height: 41rem;
                }
            }

            li:nth-child(2) {
                top: -4rem;
                left: -75rem;

                img {
                    width: 13rem;
                    height: 19rem;
                }
            }

            li:nth-child(3) {
                top: -26rem;
                left: -26rem;
            }

            li:nth-child(4) {
                top: -26rem;
                left: -26rem;

                img {
                    width: 7.4rem;
                    height: 11rem;
                }
            }

            li:nth-child(5) {
                top: -26rem;
                left: -26rem;

                img {
                    width: 7rem;
                    height: 9rem;
                }
            }
        }

        .part6 {
            top: auto;
            bottom: -102rem;
            right: 0;
            opacity: 0.6;

            li {
                position: relative;
                transition-delay: 700ms;
                display: flex;
                flex-direction: column;

                img {
                    width: 18rem;
                    height: 26rem;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 28rem;
                    height: 4rem;
                    margin: 0 -5rem;
                    background: radial-gradient(50% 50% at 50% 50%, #e0e0e0 32.29%, rgba(255, 255, 255, 0) 100%);
                }
            }

            li+li {
                top: 20rem;
                right: 0;


                img {
                    width: 12rem;
                    height: 17rem;
                }
            }
        }

        .part7 {
            top: -149rem;
            right: 35rem;
            transition-delay: 700ms;

            li {
                background: linear-gradient(169.09deg, #00d1ff 4.74%, #0377bd 100.97%);
                border-radius: 50%;
                position: relative;
                padding: 10.9rem 7.7rem 6.2rem;
                display: flex;

                img {
                    width: 19rem;
                    height: 18rem;
                }
            }

            li+li {
                padding: 0;
                width: 18.5rem;
                height: 18.5rem;
                top: -20rem;
                left: 62rem;
                transition-delay: 700ms;
            }

            li+li+li {
                width: 9.3rem;
                height: 9.3rem;
                top: -10rem;
                left: 53rem;
                transition-delay: 700ms;
            }
        }

        &.active {
            .part1 {
                opacity: 1;
                transform: translate(100rem, -83rem);
                transition-delay: 1500ms;
            }

            .part2 {
                transform: translate(27.4rem, -46rem);
                transition-delay: 1300ms;
            }

            .part3 {
                transform: translate(42rem, 55rem);
                transition-delay: 1300ms;
            }

            .part4,
            .part5 {
                transform: translate(22rem, 132rem);
                transition-delay: 1300ms;

                li:nth-child(2) {
                    transform: translate(113rem, -1rem);
                }

                li:nth-child(3) {
                    transform: translate(48rem, 24rem);
                }

                li:nth-child(4) {
                    transform: translate(56rem, -64rem);
                }

                li:nth-child(5) {
                    transform: translate(90rem, -78rem);
                }
            }

            .part5 {
                transform: translate(57rem, 92rem);

                li:nth-child(2) {
                    transform: translate(96rem, 10rem);
                }

                li:nth-child(3) {
                    transform: translate(17rem, 8rem);
                }

                li:nth-child(4) {
                    transform: translate(5rem, -27rem);
                }

                li:nth-child(5) {
                    transform: translate(15rem, 21rem);
                }
            }

            .part6 {
                transform: translate(-65rem, -81rem);
                transition-delay: 1300ms;

                li+li {
                    transform: translate(-22rem, -23rem);
                    transition-delay: 1300ms;
                }
            }

            .part7 {
                transform: translate(-100rem, 128rem);
                transition-delay: 1300ms;

                li+li {
                    transform: translate(-40rem, 24rem);
                    transition-delay: 1300ms;
                }

                li+li+li {
                    transform: translate(-40rem, 14rem);
                }
            }
        }
    }
}

.imagesList li.active {
    .mainImage {
        opacity: 1;
        transition-delay: 1300ms;
    }
}