:root {
  --background: rgba(249, 252, 255, 0.3);
  --background-header: rgba(249, 252, 255, 0.75);
  --blur-block: backdrop-filter: blur(22rem);
  --foreground: #171717;
  --red: #c41119;
  --blue: #002162;

}

@media (prefers-color-scheme: dark) {
  :root {
    // --background: #0a0a0a;
    // --foreground: #ededed;
  }
}

html {
  height: 100%;
  font-size: calc(100vw / 1440);

  @media (max-width: 991px) {
    font-size: calc(100vw / 360);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  color: var(--foreground);
  background: url("../assets/images/body_bg.webp") 0 0 / 100% auto repeat-y, var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16rem;
  line-height: normal;
  color: var(--blue);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }